body {
    float: center;
    text-align: center;
    margin: 0;
    font-family: 'Oswald', sans-serif;
}

/*************************NAVIGATION BAR*************************/
#navBarButtons {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}  

#home {
    float: left;
    font-family: 'Paytone One', sans-serif;
}

.navButton {
    /* Over all format */
    display: inline;
    float: right;
    display: block;

    /* Alignment and size */
    text-align: center;
    text-decoration: none;
    margin-right: 1em;
    padding: 20 px;
    font-size: 1.5em;

    /* Style */
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}

/* Change the link color to #111 (black) on hover */
#start:hover {
    background-color: #3CB371;
}
.navButton:hover {
    background-color: #111;
}

li a{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/****************************INTRO FIRST DIV******************/
#info {
    margin-top: 10px;
    background-image: url("./assets/images/background-intro.jpg");
    background-size: cover;
    background-repeat:no-repeat;
    height: 30em;

    /*Aligining the text*/
    display: flex;
    justify-content: center;
    align-items: center;
}

#introText {
    color: white;
    font-size: 3em;
    
}
/*******************STEPS*****************/
.step {
    font-size: 4em;
    color: rgba(80, 207, 224, 0.753);
    font-family: 'Chango', cursive;
}
.instructions {
    font-size: 2em;
}

/*******************Giving credit******************/
#background-credit {
    float: right;
    padding-right: 1em;
    font-size: 15px;
    color: black;
    text-decoration: none;
}

.spacer {
    height: 3em;
}

#getStarted {
    background-color: #3CB371;
    color: black;
    border-radius: 1em;

    height: 5em;
    width: 15em;
    font-size: 25px;
    font-family: 'Oswald', sans-serif;
}

/*************************Sign-in Form*************************/
/* Sign In Button */
#signIn {
    position: absolute;
    top: 24px;
    right: 16px;
    transition-duration: 0.4s;
    border-radius: 8px;
    padding: 12px 28px;
}

#signIn:hover {
    background-color: #4CAF50; /* Green */
    color: white;
}



/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
.modalContent {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    height:80%;
    width: 40%;
  }


.formTitle {
    text-align: center;
}

.form {
    padding: 10px 20px 10px 5px;
    width:100%;
}


  /* The Close Button */
.closeOut {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .closeOut:hover,
  .closeOut:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
